<!DOCTYPE html>
<html>
    <head>
        <title>Vacation Planner</title>
        <meta charset='utf-8'>
        <meta name='description' content='Enter upcoming trips to see a vacation summary with images and anticipated weather forecasts.'>
        <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Tillana:wght@400;600;800&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <header>
            <h1>Vacation Planner</h1>
        </header>
        <main>
            <section id='new'>
                <h2>Add new trip</h2>
                <form class='card'>
                    <div id='progress-tracker'>
                        <img id='step-one' src='../assets/airplane_32dp_777.png'>
                        <span></span>
                        <img id='step-two'>
                        <span></span>
                        <img id='step-three'>
                        <span></span>
                        <img id='step-four'>
                    </div>
                    <p>User will start adding trip here</p>
                </form>
            </section>
            <section id='upcoming'>
                <h2>Upcoming trips</h2>
                <div class='card'>
                    <img class='location-photo'>
                    <p id='basic-info'>New York, NY
                        <br>August 22, 2020 - August 29, 2020
                        <br>22 days away</p>
                    <h3>Itinerary</h3>
                    <p id='itinerary'>Cupcake ipsum dolor sit. Amet wafer gummies. Jujubes cookie apple pie. Danish cookie croissant candy bear claw chocolate bar ice cream gummi bears chocolate bar.
                        <br>
                        <br>Tootsie roll dessert fruitcake chocolate bar chocolate gummi bears powder sweet roll. Sesame snaps chocolate candy lemon drops. Muffin chupa chups chupa chups halvah chocolate bar wafer macaroon candy canes jelly. Apple pie jujubes pie jujubes croissant bear claw caramels.</p>
                    <h3>Weather Forecast</h3>
                    <div id='weather'>
                        <div class='forecast'>
                            <p class='date'>8/22</p>
                            <img class='icon' alt='icon'>
                            <p class='low-temp'>71&deg;F</p>
                            <p class='high-temp'>98&deg;F</p>
                        </div>
                        <div class='forecast'>
                            <p class='date'>8/23</p>
                            <img class='icon' alt='icon'>
                            <p class='low-temp'>69&deg;F</p>
                            <p class='high-temp'>88&deg;F</p>
                        </div>
                        <div class='forecast'>
                            <p class='date'>8/24</p>
                            <img class='icon' alt='icon'>
                            <p class='low-temp'>72&deg;F</p>
                            <p class='high-temp'>95&deg;F</p>
                        </div>
                        <div class='forecast'>
                            <p class='date'>8/25</p>
                            <img class='icon' alt='icon'>
                            <p class='low-temp'>74&deg;F</p>
                            <p class='high-temp'>97&deg;F</p>
                        </div>
                    </div>
                </div>
            </section>
            
        </main>
        <footer>
            Footer goes here
        </footer>
    </body>
</html>