<!DOCTYPE html>
<html id='top'>
    <head>
        <title>Vacation Planner</title>
        <meta charset='utf-8'>
        <meta name='description' content='Enter upcoming trips to see a vacation summary with images and anticipated weather forecasts.'>
        <link href='https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap' rel='stylesheet'> 
        <link href='https://fonts.googleapis.com/css2?family=Tillana:wght@400;600;800&display=swap' rel='stylesheet'> 
        <link href='https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap' rel='stylesheet'> 
        <link href='https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap' rel='stylesheet'> 
        <link href='https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,300;1,400&display=swap' rel='stylesheet'> 
    </head>
    <body>
        <header>
            <h1 id='header'><a href='#top'>Vacation Planner</a></h1>
        </header>
        <main>
            <section id='new'>
                <h2>Add new trip</h2>
                <div class='card'>
                    <div id='progress-tracker'>
                        <img id='progress-tracker-one'>
                        <span></span>
                        <img id='progress-tracker-two'>
                        <span></span>
                        <img id='progress-tracker-three'>
                        <span></span>
                        <img id='progress-tracker-four'>
                    </div>
                    <img id='loading-indicator' alt='loading...'>
                    <form id='step-one' class='visible'>
                        <h3>Where are you going?</h3>
                        <div id='step-one-container'>
                            <label id='city-label' for='city'>City:</label>
                            <input id='city' type='text' placeholder='City name'>
                            <label id='country-label' for='country'>Country:</label>
                            <select id='country'>
                            </select>
                        </div>
                    </form>
                    <form id='step-two'>
                    </form>
                    <form id='step-three'>
                        <h3>When are you going?</h3>
                        <label id='date-from-label' for='date-from'>From</label>
                        <input id='date-from' type=date>
                        <label id='date-to-label' for='date-to'>to</label>
                        <input id='date-to' type=date>
                    </form>
                    <form id='step-four'>
                        <h3>What do you plan to do there?</h3>
                        <textarea id='itinerary-input' rows='5' placeholder='Enter your itinerary or other travel plans here'></textarea>
                    </form>
                    <div id='error-message'>
                        <p>Error message here</p>
                    </div>
                    <div id='button-container'>
                        <button id='back-button' disabled>Back</button>
                        <button id='forward-button'>Next</button>
                    </div>
                </div>
            </section>
            <section id='upcoming'>
            </section> 
        </main>
        <footer>
            <p>Content and website design by Meghan Dunham &copy;2020
                <br>Created for <a href='https://www.udacity.com/' target='_blank'>Udacity's</a> Front End Web Developer Nanodegree program
                <br>Location verification provided by <a href='https://www.geonames.org/' target='_blank'>Geonames</a>
                <br>Weather provided by <a href='https://www.weatherbit.io/' target='_blank'>Weatherbit</a>
                <br>Images provided by <a href='https://pixabay.com/' target='_blank'>Pixabay</a>
            </p>
        </footer>
        <script>
            // Add service worker to cache website for improved performance
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            };
        </script>
    </body>
</html>