@use 'base' as *;

header {
    // border: 1px solid red;
    height: 6em;
    padding: 2em 5% 2em;
    background: linear-gradient(to bottom, rgba($color-primary, 1) 0%, rgba($color-primary, 0) 100%); /* fades to bottom */
}